In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/AAPL.csv', index_col='Date', parse_dates=True, infer_datetime_format=True)
df.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-03-01  44.634998  44.945000  43.165001  43.750000  41.707802  195208000
2018-03-02  43.200001  44.075001  43.112499  44.052502  41.996174  153816000
2018-03-05  43.802502  44.435001  43.630001  44.205002  42.141563  113605600
2018-03-06  44.477501  44.562500  44.032501  44.167500  42.105808   95154000
2018-03-07  43.735001  43.962502  43.567501  43.757500  41.714939  126814000

In [11]:
df.index

DatetimeIndex(['2018-03-01', '2018-03-02', '2018-03-05', '2018-03-06',
               '2018-03-07', '2018-03-08', '2018-03-09', '2018-03-12',
               '2018-03-13', '2018-03-14',
               ...
               '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17',
               '2023-02-21', '2023-02-22', '2023-02-23', '2023-02-24',
               '2023-02-27', '2023-02-28'],
              dtype='datetime64[ns]', name='Date', length=1258, freq=None)

In [17]:
display( df.index.to_period('A') )
display( df.index.to_period('Y') )           # 'A' ‰πü ‚ÄòY' ÊòØ‰∏ÄÊ†∑ÁöÑ

PeriodIndex(['2018', '2018', '2018', '2018', '2018', '2018', '2018', '2018',
             '2018', '2018',
             ...
             '2023', '2023', '2023', '2023', '2023', '2023', '2023', '2023',
             '2023', '2023'],
            dtype='period[A-DEC]', name='Date', length=1258)

PeriodIndex(['2018', '2018', '2018', '2018', '2018', '2018', '2018', '2018',
             '2018', '2018',
             ...
             '2023', '2023', '2023', '2023', '2023', '2023', '2023', '2023',
             '2023', '2023'],
            dtype='period[A-DEC]', name='Date', length=1258)

In [18]:
display( df.index.to_period('M') )

display( df.index.to_period('D') )

PeriodIndex(['2018-03', '2018-03', '2018-03', '2018-03', '2018-03', '2018-03',
             '2018-03', '2018-03', '2018-03', '2018-03',
             ...
             '2023-02', '2023-02', '2023-02', '2023-02', '2023-02', '2023-02',
             '2023-02', '2023-02', '2023-02', '2023-02'],
            dtype='period[M]', name='Date', length=1258)

PeriodIndex(['2018-03-01', '2018-03-02', '2018-03-05', '2018-03-06',
             '2018-03-07', '2018-03-08', '2018-03-09', '2018-03-12',
             '2018-03-13', '2018-03-14',
             ...
             '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17',
             '2023-02-21', '2023-02-22', '2023-02-23', '2023-02-24',
             '2023-02-27', '2023-02-28'],
            dtype='period[D]', name='Date', length=1258)

In [10]:
type(df.index)                        # ËøôÈáåÁöÑÁ±ªÂûãÊòØ DatetimeIndex

pandas.core.indexes.datetimes.DatetimeIndex

In [9]:
type(df.index.to_period('A'))         # ËøôÈáåÁöÑÁ±ªÂûãÊòØ PeriodIndex

pandas.core.indexes.period.PeriodIndex

### Accessing data using DateimeIndex

In [31]:
df.loc['2019-03-01']      # 3üà∑Ô∏è1Êó•

Open         4.357000e+01
High         4.378750e+01
Low          4.322250e+01
Close        4.374250e+01
Adj Close    4.233563e+01
Volume       1.035448e+08
Name: 2019-03-01 00:00:00, dtype: float64

In [32]:
df.loc['2019-3-1']       # 3üà∑Ô∏è1Êó•

Open         4.357000e+01
High         4.378750e+01
Low          4.322250e+01
Close        4.374250e+01
Adj Close    4.233563e+01
Volume       1.035448e+08
Name: 2019-03-01 00:00:00, dtype: float64

In [30]:
df.loc['2019-1-3']      # 1üà∑Ô∏è3Êó•

Open         3.599500e+01
High         3.643000e+01
Low          3.550000e+01
Close        3.554750e+01
Adj Close    3.425728e+01
Volume       3.652488e+08
Name: 2019-01-03 00:00:00, dtype: float64

In [33]:
df.loc['2019/3/1']      # 3üà∑Ô∏è1Êó•

Open         4.357000e+01
High         4.378750e+01
Low          4.322250e+01
Close        4.374250e+01
Adj Close    4.233563e+01
Volume       1.035448e+08
Name: 2019-03-01 00:00:00, dtype: float64

In [34]:
df.loc['3/1/2019']      # 3üà∑Ô∏è1Êó•

Open         4.357000e+01
High         4.378750e+01
Low          4.322250e+01
Close        4.374250e+01
Adj Close    4.233563e+01
Volume       1.035448e+08
Name: 2019-03-01 00:00:00, dtype: float64